<div class="header">
    <div class="header-inner clearfix">
        <div class="header-left pull-left">
            <a href="/" class="header-logo">
                <h1 class="header-logo-text">杭州蚁创科技有限公司</h1>
                <img class="header-logo-img" src="/static/img/logo.png" alt="logo" width="200" height="40">
            </a>
        </div>
        <div class="header-right pull-right">
            <ul class="header-nav clearfix">
                <li class="pull-left"><a href="https://shop144518806.taobao.com">商城</a></li>
                <li class="pull-left"><a href="/about-us">关于我们</a></li>
            </ul>
        </div>
    </div>
</div>